.header {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
  }



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Site Specific Design*/
#map-container {
    position: relative;
    height: 95%;
}
#map{ 
    position:inherit;
    height:inherit;
    border: 1px solid black;
    border-radius: 8px;
}
.column{
    float: left;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    height:725px;
}

.left, .right{
    width: 15%;
}
.middle{
    width: 65%;
}

/*clear floats after columns*/
.row:after{
    content: "";
    display:table;
    clear: both;
}


