.header {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
  }


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Site Specific Design*/

html,body{
    height : 100%;
}
.dropdown {
    position: absolute;
    top: 40px;
    right: 45px;
    z-index: 1001;
}

.dropdown-content{
    font-size: 18px;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0px;
}

.my-navbar-brand
{
    position: absolute;
    width: 15%;
    left: 42.5%;
    text-align: center;
    margin:0 auto;
}

.leaflet-popup-content {
    font-size: 16px;
}

#map-container {
    position: relative;
    height: 94vh;
}
#map{ 
    position:inherit;
    height:inherit;
    border: 1px solid black;
    border-radius: 0px;
}
.column{
    float: left;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    height:725px;
}

.left, .right{
    width: 15%;
}
.middle{
    width: 65%;
}

/*clear floats after columns*/
.row:after{
    content: "";
    display:table;
    clear: both;
}

#slide-menu {
    height: 95vh;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: #343a40;
    color: lightgrey;
    overflow-x: hidden;
    transition: 0.4s;
    text-align: left;
    font-size: 18px;
    /*text-emphasis: bold;*/
}

#slide-info {
    height: 95vh;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 50px;
    right: 0;
    background-color: #343a40;
    color: lightgrey;
    overflow-x: hidden;
    text-align: center;
    font-size: 18px;
}

.slidecontainer{
    width: 60%;
    text-align: center;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.tab {
    width: 100%;
    align-items: center;
    overflow: hidden;
    background-color: #343a40;
  }
  
  .tablinks{
      float: left;
      margin: none;
      align-content: center;
      border: 1px solid #2980B9;
      border-radius: 10px;
  }

  .tab_header{
      color: deepskyblue;
      text-align: center;
      font-size: 24px;
  }

  .tab_subheader{
    color: deepskyblue;
    text-align: center;
    font-size: 20px;
}
  .tab_subheader_l{
      color: deepskyblue;
      text-align: center;
      font-size: 20px;
      float:left;
  }
    .tab_leftheader{
    color: deepskyblue;
    text-align: left;
    font-size: 20px;
    padding:4px;
    }

  .tab button{
    background-color: inherit;
    border: 1px solid #2980B9;
    cursor: pointer;
    transition: 0.3s;
    color: white;
    width: 25%;
  }
  
  .tab button:hover {
    background-color: #2980B9;
  }

  .tab button.active {
    background-color: deepskyblue;
  }

  .tab_text {
    padding: 6px 12px;
    border: none;
    border-top: none;
    text-align: left;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
    border-top: none;
    text-align: left;
  }

.algorithm-controls{
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    position: absolute;
    bottom: 50px;
}

.disabled{
    color: grey;
}

.disabled_ctr{
    color:grey;
    text-align: center;
    display: block; 
    margin: 0 auto;
}

.disabled_r{
    color: grey;
    float: right;
}

.enabled{
    color: black;
}

.enableOnInput{
    display: block; 
    margin: 0 auto;
}

.enableOnInput_r{
    float: right; 
}

.numInput{
    width: 50px;
    color: black;
    float: right;
}

.hideable{
    display: block;
    margin: 0 auto;
}

.content_centered{
    color: black;
    text-align: center;
    display: block; 
    margin: 0 auto;
}

.ctr_button{
    color: black;
    text-align: center;
    display: block; 
    margin: 0 auto;
}

.phase2_button{
    color: grey;
    text-align: center;
    float: bottom;
    display: block; 
    margin: 0 auto;
    bottom: 50px;
}

.button{
    color: black;
    text-align: center;
}

#small-info-window {
    height: 350px;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 20px;
    bottom: 20px;
    background-color: #343a40;
    color: lightgrey;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: left;
    font-size: 14px;
}

#small-info-table{
    font-size: 14px;
}

.table{
    text-align: left;
    font-size: 18px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    font-size: 24px;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  .slider{
    width:75%;
  }

  .slider_ctr{
    width:100%;
    margin: 0 auto;
  }
  .slider_container{
    text-align: left;
    align-items: center;
    display: block; 
  }


  /*noUiSliders*/
  .noUi-background {
    height: 8px;
  }
  
  .noUi-base .noUi-connect {
    background-color: deepskyblue;
  }

  .noUi-base .noUi-handle {
    background-color: darkgrey;
  border: none;
  border-radius: 20px;
  box-shadow: none;
  color: #FFFFFF;
  font-size: 12px;
  height: 30px;
  text-align: center;
  width: 50px;
}
.noUi-horizontal .noUi-base .noUi-handle {
  cursor: ew-resize;
}
.noUi-base .noUi-handle:hover {
    background-color: #6adafc;
  }
  .noUi-base .noUi-handle.noUi-active {
    background-color: #2b6b85;
    z-index: 3;
  }
  .noUi-base .noUi-handle::before {
    background: transparent;
    content: attr(data-value);
    display: table-cell;
    font-size: 14px;
    font-weight: 100;
    position: static;
    width: 100%;
    vertical-align: middle;
  }
  .noUi-base .noUi-handle::after {
    display: none;
  }
  
  .noUi-tooltip{
      height: 20px;
      font-size: 14px;
  }

 

